header {
    background: lightskyblue url(../img/pattern.png) repeat 20% 20%;
}

header img {
    width: 15%;
    height: 15%;
}

.title {
    font-size: 2em;
}

section span {
    color: lightskyblue
}

#data {
    font-size: 15px;
}

th {
    background-color: aqua;
}

.colorline{
    background-color: lightblue;
}